.header {
  border-bottom: 1px solid $PrimaryBorderColor;
}

.header__container {
  @include flex-align;
}

.header__list {
  display: flex;
  margin-left: auto;
}

.header__link {
  @include flex-align;

  color: $SecondLinkColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $AccentColor;
  }
}

.header__icon {
  fill: currentColor;
  margin-right: 10px;

  &:hover {
    fill: currentColor;
  }
}
