.logo {
  display: block;
  font-family: $LogoFont;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  padding-top: 16px;
  padding-bottom: 16px;
  color: $AccentColor;
}

.logo--dark {
  color: $FirstLogoColor;
}

.logo--light {
  color: $SecondLogoColor;
}
