.navigation__list {
  display: flex;
  margin-left: 88px;
  padding-top: 0;
  padding-bottom: 0;

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.navigation__list .navigation__item + .navigation__item {
  margin-left: 48px;

  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}

.navigation__list .navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  position: relative;

  @include header-link;
  color: $FirstLinkColor;

  &:hover,
  &:focus {
    color: $AccentColor;
  }
}

.navigation__link--active {
  color: $AccentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link--active::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: $AccentColor;
  border-radius: 2px;

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover::after {
    opacity: 1;
  }
}
