.products {
  @media screen and (max-width: 1190px) {
    display: none;
  }
}

.products__title {
  margin-bottom: 50px;
  @include secondary-heading;
}

.products__list {
  display: flex;
}

.products__item {
  flex-basis: calc((100% - 60px) / 3);
}

.products__wrap {
  position: relative;
}

.products__name {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;

  @include additional-heading;
  text-align: center;

  color: $SecondaryHeadingColor;
  background-color: rgba(47, 48, 58, 0.8);
}

.products__list .products__item + .products__item {
  margin-left: 30px;
}
