.section {
  padding: 60px 0px;
  background-color: $LightBackgroundColor;

  @include desktop {
    padding: 94px 0px;
  }
}

.section--no-padding {
  padding-top: 0;
}

.section--gray-bg {
  background-color: $CinereousBackgroundColor;
}
