$PrimaryHeadingColor: #212121;
$SecondaryHeadingColor: #ffffff;
$FirstLinkColor: #212121;
$SecondLinkColor: #757575;
$ThirdLinkColor: #ffffff;
$FourthLinkColor: #afb1b8;
$HoverLinkColor: #ffffff;
$MainTextColor: #757575;
$AdditionalTextColor: #212121;
$BtnTextColor: #ffffff;
$BtnBackgroundColor: #f5f4fa;
$BtnBackgroundHover: #188ce8;
$AccentColor: #2196f3;
$DarkBackgroundColor: #2f303a;
$LightBackgroundColor: #ffffff;
$CinereousBackgroundColor: #f5f4fa;
$FirstLogoColor: #000000;
$SecondLogoColor: #ffffff;
$PrimaryBorderColor: #eeeeee;
$SecondaryBorderColor: #afb1b8;
$AdditionalBgColor: #c4c4c4;
$CheckboxBorderColor: #212121;
$DarkFillColor: #000000;
$LightFillColor: #ffffff;
$MainFont: "Roboto", sans-serif;
$LogoFont: "Raleway", sans-serif;
